<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!--2 sepereate configuration roots for Spring Application
        Default: dispatcher-servlet (View Resolvers, common Database configuration)
        Specific Application Context: Controller Mapping, Service Mappings, any thing specific to your application.
        applicationContext.xml

        Key Traits of Legacy Application:
        Monolith Databases
        Project Driven (Functionality)
        Web Interface (With Spring) Code to: Looking up User, Calculate the Checkin Balance, Calculate Transactions
        <url-mapping>/*</url-mapping>
        REST Endpoints (For Mobile): Seperate ApplicationContext in the same App, that will handle the API Calls
        <url-mapping>/api/*</url-mapping>
        SOA Architecture -> Request from Another App
    -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <!--InitParam initParam = new InitParam("")-->
        <!--DispatcherServlet applicationContext = new DispatcherServlet(initParam, 1)-->
        <servlet-name>applicationContext</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>applicationContext</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>